{# FORMAT_VERSION #}

{% macro format_version(current, build) %}
{% set build_path = context["docs_root"] + context["docs_path"][build] %}
{% if current == build %}
<strong>
    <dd><a href="{{ build_path }}">{{ build }}</a></dd>
</strong>
{% else %}
<dd><a href="{{ build_path }}">{{ build }}</a></dd>
{% endif %}
{% endmacro %}

<div id="versjon-overlay">
    <button type="button" class="versjon"><i class="fa fa-book"></i> Version: {{context["current"]}}</button>
    <div class="content">
        <div class="content-inner">
            <dl>
                <dt>Versions</dt>
                {% for semver in context["semver"]%}
                {{ format_version(context["current"], semver) | indent(16) }}
                {% endfor %}
            </dl>
            <dl>
                <dt>Development</dt>
                {% for other in context["other"]%}
                {{ format_version(context["current"], other) | indent(16) }}
                {% endfor %}
            </dl>
        </div>
    </div>
</div>
<script>
    var coll = document.getElementsByClassName("versjon");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>