<div id="versjon-overlay">
    <button type="button" class="versjon"><i class="fa fa-book"></i> Version 1.0.0</button>
    <div class="content">
        <p>1.0.0 2.0.0</p>
        <p>1.0.0 2.0.0</p>
        <p>1.0.0 2.0.0</p>

    </div>
</div>
<script>
    var coll = document.getElementsByClassName("versjon");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>